BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px ;list-style-type: disc
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 12px; PADDING-LEFT: 0px; PDDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 1.5em; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND: #fff; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
INPUT {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
SELECT {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
TEXTAREA {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
INPUT {
	LINE-HEIGHT: 19px; PADDING-LEFT: 2px; HEIGHT: 19px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 14px
}
A {
	COLOR: #000; TEXT-DECORATION: none;front-weight:bold;
}
A:hover {
	TEXT-DECORATION: underline
}
.clear {
	CLEAR: both
}
#wapper {
	MARGIN: 0px auto; WIDTH: 960px
}
#header {
	POSITION: relative; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; HEIGHT: 85px; COLOR: #959595; PADDING-TOP: 3px
}
#logo {
	Z-INDEX: 100; POSITION: absolute; TOP: 15px; LEFT: 15px
}
#logoTitle {
	Z-INDEX: 100; POSITION: absolute; LINE-HEIGHT: 21px; COLOR: #959595; TOP: 21px; FONT-WEIGHT: normal; LEFT: 350px
}
#topMenu {
	Z-INDEX: 1; POSITION: absolute; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 24px; OVERFLOW: hidden; TOP: 5px; RIGHT: 0px; PADDING-TOP: 4px
}
#topMenu UL {
	WIDTH: auto; OVERFLOW: hidden
}
#topMenu UL LI {
	WIDTH: auto; FLOAT: left
}
#topMenu UL LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline; COLOR: #959595; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#topMenu UL LI A:hover {
	COLOR: #dadada; TEXT-DECORATION: none
}
#moduleList {
	POSITION: absolute; WIDTH: 100%; HEIGHT: 32px; TOP: 65px; LEFT: 0px
}
#moduleList UL {
	WHITE-SPACE: nowrap; MARGIN-LEFT: 20px
}
#moduleList UL LI {
	DISPLAY: inline; FLOAT: left
}
#moduleList UL LI A {
	PADDING-LEFT: 6px; PADDING-RIGHT: 17px; DISPLAY: block; BACKGROUND: url(../images/mainNavBreaker.png) no-repeat left center; FLOAT: left; COLOR: #ffffff; FONT-WEIGHT: bold
}
#moduleList UL LI A:hover {
	COLOR: #118888; TEXT-DECORATION: none
}
#moduleList UL LI.over A {
	COLOR: #118888; TEXT-DECORATION: none
}
#topNav {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #262626; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 20px; COLOR: #959595; PADDING-TOP: 0px
}
#topTitle {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 33px; BACKGROUND-COLOR: #3f3f3f; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; HEIGHT: 33px; PADDING-TOP: 3px
}
#topTitle H2 {
	FONT-FAMILY: "????"; COLOR: #fff; FONT-SIZE: 21px; FONT-WEIGHT: normal
}
#mainBody {
	PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fff; MIN-HEIGHT: 320px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: auto !important; OVERFLOW: visible; PADDING-TOP: 75px
}
#footer {
	BACKGROUND-COLOR: #dadada; HEIGHT: 75px; COLOR: #000;text-align:center;
}
#footer .content {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #959595; PADDING-TOP: 25px
}
#footer .content P {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
#footer .content A {
	COLOR: #959595
}
#footer .content A:hover {
	COLOR: #dadada; TEXT-DECORATION: none
}
#footer .content .support {
	FONT-SIZE: 9px
}
#footer .content .support A {
	MARGIN-RIGHT: 8px
}
.rowContent {
	MIN-HEIGHT: 185px; WIDTH: 100%; HEIGHT: auto !important; OVERFLOW: visible
}
.loginBanner {
	POSITION: relative; WIDTH: auto; BACKGROUND: url(../images/login/login_banner.jpg) no-repeat left top; HEIGHT: 320px; OVERFLOW: hidden
}
.info {
	MARGIN: 0px auto; WIDTH: 640px; HEIGHT: 1%
}
.info .content {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 10px; MIN-HEIGHT: 145px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/login/btn_arrow2.gif) #fff no-repeat 99% 5px; HEIGHT: auto !important; OVERFLOW: visible; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 10px
}
.info .bottom {
	TEXT-ALIGN: left; PADDING-TOP: 10px
}
#loginform {
	Z-INDEX: 100; POSITION: absolute; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 390px; PADDING-RIGHT: 20px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 330px; TOP: 0px; RIGHT: -1px; PADDING-TOP: 20px
}
#loginformBg {
	Z-INDEX: 99; POSITION: absolute; FILTER: Alpha(Opacity=100); WIDTH: 430px; BACKGROUND: #f9f9f9; HEIGHT: 330px; TOP: 0px; RIGHT: -1px
}
.loginform {
	WIDTH: 100%
}
.loginform .title {
	LINE-HEIGHT: 25px; MARGIN-BOTTOM: 10px
}
.loginform .title H2 {
	COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.loginform P {
	HEIGHT: 48px; CLEAR: both
}
.loginform P .tips {
	LINE-HEIGHT: 20px; MARGIN-TOP: 2px; DISPLAY: block; COLOR: #959595; MARGIN-LEFT: 78px; CLEAR: both
}
.loginform P LABEL {
	LINE-HEIGHT: 23px; WIDTH: 5em; PADDING-RIGHT: 15px; DISPLAY: block; FLOAT: left; COLOR: #232323; FONT-SIZE: 12px
}
.loginform IMG.codeImg {
	MARGIN-TOP: 3px; MARGIN-LEFT: 10px
}
.loginform .input {
	BORDER-BOTTOM: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; BACKGROUND-COLOR: #ebebeb; WIDTH: 270px; FLOAT: left; HEIGHT: 21px; COLOR: #232323; BORDER-TOP: #dadada 1px solid; BORDER-RIGHT: #dadada 1px solid; PADDING-TOP: 2px
}
.loginform .onfocus {
	BORDER-BOTTOM: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; BACKGROUND-COLOR: #ebebeb; WIDTH: 270px; FLOAT: left; HEIGHT: 21px; COLOR: #232323; BORDER-TOP: #dadada 1px solid; BORDER-RIGHT: #dadada 1px solid; PADDING-TOP: 2px
}
.loginform .onfocus {
	BACKGROUND-COLOR: #fff; COLOR: #232323
}
.loginform #code {
	WIDTH: 170px
}
.button {
	BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #000 1px solid; TEXT-INDENT: 25px; WIDTH: 130px; BACKGROUND: url(../images/login/btn_arrow2.gif) #000 no-repeat 97% center; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: #000 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #000 1px solid
}
.button2 {
	BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #000 1px solid; TEXT-INDENT: 25px; WIDTH: 130px; BACKGROUND: url(../images/login/btn_arrow2.gif) #000 no-repeat 97% center; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: #000 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #000 1px solid
}
.button2 {
	BORDER-BOTTOM: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; BACKGROUND: url(../images/login/btn_arrow2.gif) #dadada no-repeat 97% center; COLOR: #000; BORDER-TOP: #dadada 1px solid; BORDER-RIGHT: #dadada 1px solid
}
.button3 {
	LINE-HEIGHT: 24px; WIDTH: 50px; HEIGHT: 24px; CURSOR: pointer
}
.rowBox {
	LINE-HEIGHT: 25px
}
.marginTop {
	PADDING-TOP: 15px
}
.listView {
	MARGIN-TOP: 10px
}
.listView TH {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #ccc; FONT-WEIGHT: normal
}
.listView TD {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.listView TD.refont {
	COLOR: #118888; FONT-WEIGHT: bold
}
.listView TD LABEL INPUT {
	FLOAT: left
}
.listView TR.oddListRow TD {
	BACKGROUND-COLOR: #fff
}
.listView TR.evenListRow TD {
	BACKGROUND-COLOR: #f1f1f1
}
.listView TR.txtCenter TD {
	TEXT-ALIGN: center
}
.listView TD.fail {
	BACKGROUND-COLOR: #efefef; COLOR: #118888
}
DIV.compact {
	MARGIN: 0pt auto; WIDTH: 670px
}
DIV.compact P {
	LINE-HEIGHT: 1.5; FONT-WEIGHT: bold
}
DIV.compact UL.item {
	WIDTH: 100%; MARGIN-LEFT: -5px
}
DIV.compact UL.item LI {
	MARGIN-TOP: 5px; DISPLAY: block
}
DIV.compact DL.subitem {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 232px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; HEIGHT: 123px; CURSOR: pointer; MARGIN-RIGHT: 5px; PADDING-TOP: 10px
}
DIV.compact DL.over {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 232px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; HEIGHT: 123px; CURSOR: pointer; MARGIN-RIGHT: 5px; PADDING-TOP: 10px
}
DIV.compact UL.item DL.subitem {
	BACKGROUND: url(../images/login/item_bg.gif) no-repeat left top
}
DIV.compact UL.item DL.over {
	BACKGROUND: url(../images/login/item_over_bg.gif) no-repeat left top
}
DIV.compact UL.item DD {
	Z-INDEX: 1; LINE-HEIGHT: 24px
}
DIV.compact DL.over DD {
	Z-INDEX: 1; LINE-HEIGHT: 24px
}
DIV.compact UL.item DD.btnfont {
	MARGIN-TOP: 10px; PADDING-LEFT: 10px; COLOR: #118888; FONT-WEIGHT: bold
}
.submit {
	Z-INDEX: 0; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 235px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 113px; BORDER-TOP: medium none; TOP: 0px; CURSOR: pointer; BORDER-RIGHT: medium none; LEFT: 0px
}
DIV.compact DL.over DD.btnfont {
	COLOR: #fe6603
}
DIV.clr {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.colnum_AB {
	WIDTH: 100%; CLEAR: both
}
.colnum_AB .cLeft {
	WIDTH: 180px; FLOAT: left; HEIGHT: auto
}
.colnum_AB .cRight {
	BACKGROUND-COLOR: #fff; HEIGHT: auto; MARGIN-LEFT: 200px
}
.colnum_AB_2 {
	WIDTH: 100%; CLEAR: both
}
.colnum_AB_2 .cRight {
	WIDTH: 185px; FLOAT: right; HEIGHT: auto
}
.colnum_AB_2 .cLeft {
	BACKGROUND-COLOR: #fff; HEIGHT: auto; MARGIN-RIGHT: 205px
}
.box {
	BORDER-BOTTOM: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; BORDER-RIGHT: #ebebeb 1px solid
}
.box .boxTitle {
	LINE-HEIGHT: 25px; TEXT-INDENT: 10px; BACKGROUND: #ebebeb; FONT-WEIGHT: bold
}
.box .boxTitle SPAN {
	PADDING-RIGHT: 5px; FLOAT: right; FONT-WEIGHT: normal
}
.box .boxContent {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
.box .boxTitle A {
	LINE-HEIGHT: 180%; COLOR: #118888
}
.boxContent A {
	LINE-HEIGHT: 180%; COLOR: #118888
}
.box .boxContent {
	MIN-HEIGHT: 85px; PADDING-LEFT: 15px; HEIGHT: auto !important; OVERFLOW: visible
}
.box .boxContent UL {
	
}
.box .boxContent UL LI {
	LINE-HEIGHT: 20px
}
.box .sendMail {
	MARGIN-TOP: 10px
}
.rowTitle {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #ebebeb; HEIGHT: 29px; COLOR: #000; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
UL.tabItem {
	HEIGHT: 26px
}
UL.tabItem LI {
	LIST-STYLE-TYPE: none; MARGIN: 0px; DISPLAY: inline; FLOAT: left; LIST-STYLE-IMAGE: none
}
UL.tabItem LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; DISPLAY: block; FLOAT: left; HEIGHT: 25px; COLOR: #333; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
UL.tabItem LI.current A {
	BACKGROUND: #118888; COLOR: #fff
}
.tabItemC {
	BORDER-BOTTOM: #979797 1px solid; BORDER-LEFT: #979797 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #979797 1px solid; BORDER-RIGHT: #979797 1px solid; PADDING-TOP: 10px
}
.tabItemC .certform P {
	LINE-HEIGHT: 40px; HEIGHT: 40px; CLEAR: both
}
.formBox {
	OVERFLOW: hidden
}
.formBox .formTitle {
	LINE-HEIGHT: 28px; MARGIN-BOTTOM: 10px; FONT-WEIGHT: bold
}
.formBox .bottom {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 167px; PADDING-TOP: 20px
}
.formBox .centerBottom {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.shortLabel .formlabel {
	WIDTH: 97px
}
.shortLabel .bottom {
	PADDING-LEFT: 127px
}
.mleft {
	MARGIN-LEFT: 10px
}
.mleft2 {
	MARGIN-LEFT: 23px
}
.forminput {
	BORDER-BOTTOM: medium none; POSITION: relative; WIDTH: 100%; CLEAR: both
}
.forminput:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.formlabel {
	TEXT-ALIGN: right; WIDTH: 137px; PADDING-RIGHT: 16px; COLOR: #000; FONT-WEIGHT: bold
}
.formlabel .reqfont {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff0000; FONT-SIZE: 13px; FONT-WEIGHT: normal; MARGIN-RIGHT: 3px
}
.formlabel {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 5px
}
.formfield {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 5px
}
.formlabel LABEL {
	FLOAT: right; COLOR: #333
}
.formfield LABEL {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; FLOAT: left; CURSOR: pointer
}
.formfield LABEL INPUT {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; FLOAT: left; MARGIN-RIGHT: 5px
}
.formfield .inp {
	FLOAT: left; MARGIN-RIGHT: 0.5em
}
.formfield .cnp {
	MARGIN-TOP: 0.5em; ZOOM: -1; DISPLAY: block
}
.errorBox {
	MARGIN-BOTTOM: 10px
}
.errorBox .errorText {
	LINE-HEIGHT: 180%; COLOR: #ff0000
}
.forminput .checkbox {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.forminput .radio {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.forminput .text {
	WIDTH: 276px
}
.forminput .text_short {
	WIDTH: 156px
}
.forminput .select {
	WIDTH: 276px
}
.forminput .select_short {
	WIDTH: 145px
}
.forminput .textarea {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 286px; PADDING-RIGHT: 2px; HEIGHT: 60px; PADDING-TOP: 2px
}
.forminput .frminfo {
	MARGIN-TOP: 3px; COLOR: #8c8c8c; CLEAR: left
}
.courseList {
	WIDTH: 500px; CLEAR: both
}
.courseList LI {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; WIDTH: 245px; DISPLAY: inline; FLOAT: left
}
.forminput .formInfofield {
	COLOR: #118888; FONT-WEIGHT: bold
}
.forminput .price_num {
	FONT-SIZE: 14px
}
.forminput .total_price {
	FONT-SIZE: 18px
}
.forminput .onError {
	TEXT-INDENT: 22px; WIDTH: 280px; BACKGROUND: url(../images/arrow_error.gif) no-repeat -2px center; COLOR: #ff0000; CLEAR: left; FONT-WEIGHT: bold
}
.order_id {
	COLOR: #118888; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.orderInfo {
	MARGIN: 10px 0px
}
.orderInfo DD {
	LINE-HEIGHT: 25px
}
.stepBox {
	MARGIN-BOTTOM: 20px
}
.step {
	WIDTH: 100%; HEIGHT: 29px; OVERFLOW: hidden
}
.step LI {
	TEXT-ALIGN: center
}
.step LI {
	BACKGROUND: url(../images/bg_step_normal_right.gif) #ebebeb no-repeat right top; FLOAT: left; OVERFLOW: hidden
}
.step LI SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; PADDING-LEFT: 28px; PADDING-RIGHT: 48px; DISPLAY: inline; FLOAT: left; HEIGHT: 29px; COLOR: #333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.step LI.frist_current {
	BACKGROUND: #118888
}
.step LI.current {
	BACKGROUND: url(../images/bg_step_current_left.gif) #118888 no-repeat left top
}
.step LI.current SPAN {
	BACKGROUND: url(../images/bg_step_current_right.gif) no-repeat right top; COLOR: #fff; FONT-WEIGHT: bold
}
.step LI.frist_current SPAN {
	BACKGROUND: url(../images/bg_step_current_right.gif) no-repeat right top; COLOR: #fff; FONT-WEIGHT: bold
}
.step LI.finshed {
	BACKGROUND: #ebebeb
}
.step LI.finshed SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 28px; PADDING-RIGHT: 48px; COLOR: #ccc; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.step LI.last {
	BACKGROUND: url(../images/bg_step_right.gif) #ebebeb no-repeat right top
}
.step LI.last_current {
	BACKGROUND: url(../images/bg_step_last_current_right.gif) #118888 no-repeat right top
}
.step LI.last_current SPAN {
	BACKGROUND: url(../images/bg_step_current_left.gif) no-repeat left top; COLOR: #fff; FONT-WEIGHT: bold
}
.frmtable {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN-TOP: 5px; WIDTH: 85%; BORDER-COLLAPSE: collapse; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.frmtable TD {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.frmtable TH {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.frmtable TH {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #f1f1f1; FONT-WEIGHT: bold
}
.frmtable TD {
	COLOR: #118888
}
.frmtable TD.on_error {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #118888; TEXT-INDENT: 5px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #fff; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
